.brd {
            
    background-color:  rgb(31, 31, 31);
    width: 300px;
    height: 600px;
}
body {
background-color: black;
    color: white;
}
button {
    margin-left: 5%;
    margin-top: 10px;
}
.video {
    width: 600px;
    height: auto;
    margin-left: 5%;
}
.content{
    margin: auto;
    background-color:  rgb(31, 31, 31);
    width: 65%;
}
.word{
    background-color: rgb(56, 56, 56);;
}
.ChoosV{
    margin-right: 7%;;
    background-color: rgb(56, 56, 56);
    height: 500px;
    width: 400px;
}

a{
    color:orange; 
    text-decoration: none;
}
